@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    min-height: 100%;
    box-sizing: border-box;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
body, form, input, textarea, label, a { 
    padding: 0;
    margin: 5px 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #666;
    line-height: 22px;
}
h1 {
    position: absolute;
    margin: 0;
    font-size: 36px;
    color: #fff;
    z-index: 2;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
}
form {
    width: 400px;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 20px 0 #333; 
}
label {
    font-weight: 700;
}
input, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input {
    width: 100%;
    padding: 5px;
}
input:hover::placeholder {
    color: #333;
}
input:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #090979;
    color: #333;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}
button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #090979;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}
button:hover {
    background: #00d4ff;
}
.log-in {
    margin-top: 10px;
    text-align: center;
}
.log-in a {
    text-decoration: none;
}
.log-in a:hover {
    text-decoration: underline;
}
.register {
    margin-top: 10px;
    text-align: center;
}
.register a {
    text-decoration: none;
}
.register a:hover {
    text-decoration: underline;
}